
<div class="container-fluid mx-auto p-2 ">
        <p class="text-center my-4 fs-2 fw-semibold">API PRODUCTS</p>
    <div class="card col-lg-4 mx-auto p-2 bg-body-tertiary">
        <div class="card-body ">
            <form action="sessions/admin" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                    <div id="emailHelp" class="form-text">example@gmail.com</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                    <input type="password" class="form-control w-75" id="exampleInputPassword1" name="password">
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-dark text-light ">Sign in</button>
                    <a href="/session/github" class="btn btn-dark text-light mx-4">Login with GitHub</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <p class="fs-6 text-center my-3">New on NIKE store? <a href="/session/register">Create an account</a></p>
    </div>
</div>
